# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes
etcd

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
timeout=70
# Cluster ID
openshift_clusterid={{ openshift_cluster_id }}

# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user={{ default_user }}
ansible_become=true

# If ansible_ssh_user is not root, ansible_sudo must be set to true
ansible_sudo=true

openshift_release=v{{ openshift_release }}
deployment_type=openshift-enterprise
openshift_install_examples=true
oreg_auth_user={{ rhsm_username }}
oreg_auth_password={{ rhsm_password }}
oreg_test_login=False # help alleviate timeout issue
openshift_examples_modify_imagestreams=true

# Uncomment the following to enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]
openshift_master_default_subdomain={{ default_wildcard }}

# Apply updated node defaults
# openshift_node_kubelet_args={'pods-per-core': ['10'], 'max-pods': ['250'], 'image-gc-high-threshold': ['90'], 'image-gc-low-threshold': ['80']}

openshift_cloudprovider_kind=aws

# Configure AWS Variables
openshift_cloudprovider_aws_access_key={{ aws_access_key_id }}
openshift_cloudprovider_aws_secret_key={{ aws_secret_access_key }}

# Disable check for container availability
openshift_disable_check="docker_image_availability"

# Host group for masters
[masters]
{% for host in inventory_ose_masters %}
{% if (hostvars[host]['inventory_hostname'] is match("master") ) %}
{{ hostvars[host]['inventory_hostname'] }} openshift_public_ip={{ hostvars[host]['ansible_ec2_public_ipv4'] }} openshift_public_hostname={{ hostvars[host]['ansible_ec2_public_hostname'] }} openshift_schedulable=true ansible_connection=local ansible_become=yes
{% endif %}
{% endfor %}

# Host group for etcd
[etcd]
{% for host in inventory_ose_masters %}
{% if (hostvars[host]['inventory_hostname'] is match("master") ) %}
{{ hostvars[host]['inventory_hostname'] }} openshift_public_ip={{ hostvars[host]['ansible_ec2_public_ipv4'] }} openshift_public_hostname={{ hostvars[host]['ansible_ec2_public_hostname'] }} openshift_schedulable=true ansible_connection=local ansible_become=yes
{% endif %}
{% endfor %}

# Host group for nodes, includes region info
[nodes]
{% for host in inventory_ose_masters %}
{% if (hostvars[host]['inventory_hostname'] is match("master") ) %}
{{ hostvars[host]['inventory_hostname'] }} openshift_public_ip={{ hostvars[host]['ansible_ec2_public_ipv4'] }} openshift_public_hostname={{ hostvars[host]['ansible_ec2_public_hostname'] }} openshift_schedulable=true ansible_connection=local ansible_become=yes openshift_node_group_name='node-config-master-infra'
{% endif %}
{% endfor %}

{% for host in inventory_ose_nodes %}
{% if (hostvars[host]['inventory_hostname'] is match("node")) %}
{{ hostvars[host]['inventory_hostname'] }} openshift_public_ip={{ hostvars[host]['ansible_ec2_public_ipv4'] }} openshift_public_hostname={{ hostvars[host]['ansible_ec2_public_hostname'] }} openshift_node_group_name='node-config-compute'
{% endif %}
{% endfor %}
