---

# This playbook uses "workshop_prefix" AWS Tag to 
# configure the instances. Found in group_vars/all.
- name: AWS | Install & Configure Instances
  vars_files:
      - "group_vars/all"
  remote_user: ec2-user
  hosts: "{{ 'tag_Workshop_' + workshop_prefix }}" 
  become: yes
  roles:
    - subscription_manager
    - ansible_ssh_pipelining
    - atomic_scanner_plugins
    - container_check_stp
    - docker
    - jq
    - skopeo
    - epel
    - cockpit
    - zsh
    - nodejs
    - wetty            # Not needed for Vagrant, use vagrant ssh
    # - LetsEncrypt    # Does not work with Vagrant, must be a public ip for Let'sEncrypt to work. 
    # - sendgrid       # I send mail if you don't turn me off!

