# file: roles/subscription_manager/tasks/main.yml
---

#---------------------------------------------------
# DNS Setup
#---------------------------------------------------
# - name: Add DNS entries for subscription
#   blockinfile:
#     path: /etc/hosts
#     block: |
#       209.132.183.44   xmlrpc.rhn.redhat.com
#       23.204.148.218   content-xmlrpc.rhn.redhat.com
#       209.132.183.49   subscription.rhn.redhat.com
#       209.132.183.108  subscription.rhsm.redhat.com
#       209.132.182.63   registry.access.redhat.com
#       209.132.182.33   repository.jboss.org
#     marker: "<!-- {mark} ANSIBLE MANAGED BLOCK -->"
#     insertafter: EOF
#   tags:
#     - rhel

#---------------------------------------------------
# Key Installation
#---------------------------------------------------
# - name: Import keys
#   shell: rpmkeys --import /etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-beta /etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
#   tags:
#     - rhel

#---------------------------------------------------
# Subscribe to RHN
#---------------------------------------------------
# - name: Subscribe to RHSM
#   redhat_subscription:
#     state: present
#     username: "{{ username }}"
#     password: "{{ password }}"
#     pool: "{{ pool_id }}"
#   # when: sm_result.rc != 0
#   serial: 1
#   tags:
#     - rhel

#---------------------------------------------------
# RHSM Activation keys
#---------------------------------------------------

# redhat_subscription module
- name: Subscribe to RHSM via activation keys
  redhat_subscription:
    force_register: True
    activationkey:  "{{ rhsm_activationkey }}"
    org_id:         "{{ rhsm_org_id }}"
    pool:           "{{ pool_id }}"
    state:          present
  register: result
  serial: 1
#   # retries:  10
#   # delay:    30
#   # when: sm_result.rc != 0
#   tags:
#     - rhel

# Shell Command
# - name: Subscribe to RHSM via activation keys
#   shell: subscription-manager register --org={{ rhsm_org_id }} --activationkey={{ rhsm_activationkey }}
#   register: result
#   retries: 10
#   delay: 30
#   until: result.rc == 0
#   tags:
#     - rhel

#---------------------------------------------------
# Add Required Repositories
#---------------------------------------------------
# - name: Check to see if requisite repos are already enabled
#   shell: subscription-manager repos --list-enabled | egrep 'rhel-7-server-extras-rpms|rhel-7-server-optional-rpms|rhel-7-server-rpms' | wc -l
#   register: smr_result
#   ignore_errors: True
#   tags: 
#     - rhel

- name: Disable all repos by default
  serial: 1
  shell: subscription-manager repos --disable '*'
  # when: smr_result.stdout != "3"
  tags:
    - rhel

- name: Enable the requisite rhel7 repos
  shell: subscription-manager repos --enable="rhel-7-server-rpms" --enable="rhel-7-server-extras-rpms" --enable="rhel-7-server-optional-rpms" #--enable="rhel-7-server-ose-3.4-rpms"
  # when: smr_result.stdout != "3"
  tags:
    - rhel



