# Compiled files
*.tfstate
*.tfstate.backup
.*
secrets.yml
users.yml
extra_vars.yml
*.txt
.vagrant
.terraform
.redhatgov
*~
\#*#
.idea/
*.komodoproject
.loadpath
.project
*.pyc
.pydevproject
*.pyo
*.redcar*
.*.swp
.sass-cache
.rvmrc
.DS_Store
gce.ini
multi_ec2.yaml
.vagrant
.tags*
*.retry
.vscode/*
.cache
.tox/
.coverage
*.egg-info
.eggs
cover/
ansible.cfg
callback_plugins/
inventory/ec2.ini
inventory/terraform.py
openshift4_aws/build/
openshift4_aws/pull-secret
