secrets.yml
users.yml
extra_vars.yml
*.txt
.vagrant
.terraform
.vault.yml
vault.yml
group_vars/vault.yml
group_vars/all
env.sh
roles/jboss-migration/files/*.zip
roles/jboss-windup/files/jboss-migrationtoolkit-windup-3.0.0.GA.zip
