[defaults]
connection = smart
timeout = 60
forks = 10
inventory = /home/azure-user/hosts
host_key_checking = False
private_key_file=/home/azure-user/.ssh/{{ workshop_prefix }}-tower"
bin_ansible_callbacks=True
stdout_callback = yaml
verbosity = 1
