<?php
/*|{"c":"c_cpp","coffee":"coffee","cpp":"c_cpp","css":"css","d":"d","erb":"html_ruby","h":"c_cpp","hpp":"c_cpp","htm":"html","html":"html","jade":"jade","java":"java","js":"javascript","json":"json","less":"less","md":"markdown","php":"php","php4":"php","php5":"php","phtml":"php","py":"python","rb":"ruby","sass":"scss","scss":"scss","sql":"sql","tpl":"html","vm":"velocity","xml":"xml","yml":"yaml","yaml":"yaml"}|*/
?>
