
[local_target]
{% if ( ansible_distribution == 'Fedora' ) and ( ansible_distribution_major_version >= '30' ) %}
localhost  ansible_connection=local  ansible_python_interpreter='/usr/bin/python3'
{% else %}
localhost  ansible_connection=local  ansible_python_interpreter='/usr/bin/env python'
{% endif %}

[tower_rhel_nodes]
{% if tower_rhel_count is defined %}
{% for n in range( tower_rhel_count|int ) %}
tower-{{ n }}.{{ workshop_prefix }}.{{ domain_name }}
{% endfor %}
{% endif %}

[tower_rhel_nodes:vars]
ansible_ssh_private_key_file={{ ssh_key_path }}

[le_node]
node-0.{{ workshop_prefix }}.{{ domain_name }}

[rhel_nodes]
{% for n in range( rhel_count|int ) %}
node-{{ n }}.{{ workshop_prefix }}.{{ domain_name }}
{% endfor %}

[rhel_nodes:vars]
ansible_ssh_private_key_file={{ ssh_key_path }}

[win_nodes]
{% for n in range( win_count|int ) %}
win2016-{{ n }}.{{ workshop_prefix }}.{{ domain_name }}
{% endfor %}

[win_nodes:vars]
ansible_user=Administrator
ansible_password="{{ workshop_password }}"
ansible_connection=winrm
ansible_winrm_transport=basic
ansible_port=5986
ansible_winrm_server_cert_validation=ignore

[all_nodes:children]
{% if tower_rhel_count is defined %}
tower_rhel_nodes
{% endif %}
rhel_nodes
win_nodes
