server {
    listen       {{ codiad_port }} ssl http2 default_server;
    listen       [::]:{{ codiad_port }} ssl http2 default_server;
    server_name  {{ ansible_nodename }};
    root         {{ codiad_dir }};
    index        index.php

    ssl on;
    ssl_certificate "{{ codiad_ssl_cert }}";
    ssl_certificate_key "{{ codiad_ssl_key }}";
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  10m;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    # Load configuration files for the default server block.
    include /etc/nginx/default.d/*.conf;

    location / {
    }

    error_page 404 /404.html;
        location = /40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS $https if_not_empty;
        include fastcgi_params;
    }
}
