apiVersion: v1
data:
  edge: "{{ ec2_key.key.private_key | b64encode }}"
kind: Secret
metadata:
  name: edge
  namespace: user{{ item }}-codeready
  labels:
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: workspace-secret
  annotations:
    che.eclipse.org/automount-workspace-secret: 'true'
    che.eclipse.org/mount-path: /projects/.conf/
    che.eclipse.org/mount-as: file
