---
# tasks file for tektoncd

- name: template values for OpenShift Pipelines operator
  copy:
    src: "{{ role_path }}/files/openshift-pipelines-operator.yml"
    dest: "{{ openshift_build_path }}/openshift-pipelines-operator.yml"

- name: install operators required for OpenShift Pipelines
  community.kubernetes.k8s:
    state: present
    definition: "{{ lookup('template', '{{ openshift_build_path }}/openshift-pipelines-operator.yml') }}"
    api_key: "{{ k8s_auth_results.k8s_auth.api_key }}"
    namespace: "openshift-operators"

