# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
export PATH=$PATH:~{{ system_user }}/.local/bin
{% if ( ansible_distribution == 'RedHat' ) and ( ansible_distribution_major_version >= '7' ) %}
export PVER=2.7
{% endif %}
{% if ( ansible_distribution == 'RedHat' ) and ( ansible_distribution_major_version >= '8' ) %}
export PVER=3.6
{% endif %}
export PYTHONPATH=/usr/lib/python2.7/site-packages:~{{ system_user }}/.local/lib/python${PVER}/site-packages
~{{ system_user }}/.local/bin/powerline-daemon -q
POWERLINE_BASH_CONTINUATION=1
POWERLINE_BASH_SELECT=1
. ~{{ system_user }}/.local/lib/python${PVER}/site-packages/powerline/bindings/bash/powerline.sh
