---
# tasks file for service-mesh

- name: template values in operators
  copy:
    src: "{{ role_path }}/files/web-terminal-operator.yml"
    dest: "{{ openshift_build_path }}/web-terminal-operator.yml"

- name: template web cli idle timeout configmap
  template:
    src: "cli-timeout.yaml.j2"
    dest: "{{ openshift_build_path }}/cli-timeout.yaml"

- name: login to cluster
  community.kubernetes.k8s_auth:
    state: present
    host: "https://api.{{ openshift_cluster_fqdn }}:6443"
    username: "{{ openshift_cluster_admin_username }}"
    password: "{{ openshift_cluster_admin_password }}"
    validate_certs: no
  register: k8s_auth_results

- name: "Print the k8s_auth_resuts object returned"
  debug:
    msg: "{{ k8s_auth_results }}"

- name: apply modified web cli idle timeout configmap
  shell: "{{ openshift_build_path }}/oc apply -f {{ openshift_build_path }}/cli-timeout.yaml"

- name: install operators required for web terminal
  k8s:
    state: present
    definition: "{{ lookup('template', '{{ openshift_build_path }}/web-terminal-operator.yml') }}"
    api_key: "{{ k8s_auth_results.k8s_auth.api_key }}"
    namespace: "openshift-operators"

