apiVersion: v1
data:
  AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY }}
  AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID }}

kind: Secret
metadata:
  name: cloud-dns-credentials
  namespace: letsencrypt-job
