apiVersion: v1
baseDomain: {{ openshift_cluster_base_domain }}
controlPlane: 
  hyperthreading: Enabled
  name: master
  platform:
    aws:
      type: {{ openshift_control_node_instance_type }}
  replicas: {{ openshift_control_node_replicas }}
compute:
- hyperthreading: Enabled
  name: worker
  platform:
    aws:
      type: {{ openshift_worker_node_instance_type }}
  replicas: {{ openshift_worker_node_replicas }}
metadata:
  name: {{ openshift_cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: {{ aws_region }}
pullSecret: '{{ openshift_install_pull_secret | regex_replace( '^ ', '' ) }}'
fips: false
sshKey: {{ openshift_node_ssh_public_key }}