# file: group_vars/all
#####################################################
#
#               ////IMPORTANT////
#
# aws.infra.terraform |  Prefix all resources to 
#                        ensure easy cleanup and 
#                        identifcation.
#####################################################
workshop_prefix: "changeme"

system_user:                  "ec2-user"    # AWS
# system_user:                  "vagrant"     # vagrant

#####################################################
# aws.infra.terraform  |  Domain Name you own
#####################################################
domain_name: ""
zone_id:     ""

#####################################################
# aws.infra.terraform  |  AWS API Keys terraform.tfvars
#####################################################
aws_access_key: ""
aws_secret_key: ""
region: "us-east-1"
ami: "ami-b63769a1" # US-EAST-1 RHEL 7.3
# region: "us-east-2"
# ami: "ami-0932686c" # US-EAST-2 RHEL 7.3
# region: "us-west-1"
# ami: "ami-2cade64c" # US-WEST-1 RHEL 7.3
# region: "us-west-2"
# ami: "ami-6f68cf0f" # US-WEST-2 RHEL 7.3

#####################################################
# aws.infra.terraform  |  Ansible inventory dir 
#####################################################
inventory_working_dir: "{{ lookup('env','PWD') }}/inventory"

#####################################################
# aws.infra.terraform  |  .terraform working dir 
#####################################################
terraform_working_dir: "{{ lookup('env','PWD') }}/.terraform"

#####################################################
# aws.infra.terraform  |  SSH Key Vars
#####################################################
ssh_key_path: "{{ terraform_working_dir }}/{{ workshop_prefix }}-tower"
ansible_ssh_private_key_file: "{{ terraform_working_dir }}/{{ workshop_prefix }}-tower"
# ansible_ssh_user: ec2-user

#####################################################
# aws.infra.terraform  |  Number of Students
#####################################################
number_tower_nodes: 2
number_nodes: 2

#####################################################
# subscription_manager |  Subscribe RHEL Nodes
#####################################################
username: ""
password: ""
pool_id:  ""


#####################################################
# LetsEncrypt          |  email
#####################################################
letsencrypt_email: "someone@redhat.com"
letsencrypt:       false


#####################################################
# wetty
workshop_password:            "redhat!@#"
#####################################################
