[Unit]
Description=Wetty Terminal
Documentation=https://github.com/krishnasrinivas/wetty.git
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/lib/node_modules/wetty
ExecStart=/usr/bin/node app.js --sslkey /home/{{ ansible_user }}/.ssh/privkey.pem --sslcert /home/{{ ansible_user }}/.ssh/cert.pem -p {{ bastion_port_wetty }}
Restart=always
RestartSec=5s
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
