#!/usr/bin/env bash

# USAGE: source env.sh

export azure_subscription_id="";
export azure_client_id="";
export azure_client_secret="";
export azure_tenant_id="";

echo "Azure Keys exported";

env | grep Azure
