#!/usr/bin/env bash

# USAGE: source env.sh

export AZURE_SUBSCRIPTION_ID="";
export AZURE_CLIENT_ID="";
export AZURE_CLIENT_SECRET="";
export AZURE_TENANT_ID="";

echo "Azure Keys exported";

env | grep AZURE
